# @see https://notiolink.thcl.dev/installation-guide

# Notion Credentials
NEXT_PUBLIC_NOTION_INTEGRATION_SECRET=
NEXT_PUBLIC_NOTION_LINK_DATABASE_ID=6df796beb9454c418f2c83b9f4c2006a
NEXT_PUBLIC_NOTION_TREE_DATABASE_ID=a9875c3ae5bd404594eb9c9541422df2

# Password for application login
NEXT_PUBLIC_APP_PASSWORD=

# You can use random passphrase generator
# @see https://notiolink.thcl.dev/passphrase
NEXT_PUBLIC_APP_SECRET=

# Application Configuration
# Name on the index page
NEXT_PUBLIC_APP_NAME=Notiolink

# Theme
# light | dark | milky | street | monokai
NEXT_PUBLIC_APP_THEME=dark